<h3>
    Department Details
</h3>

Department No : <%= department.dept_No %>
<br>
First Name : <%= department.first_Name %>
<br>
Last Name : <%= department.last_Name %>
<br>
Last Name : <%= department.department %>
<br>
Last Name : <%= department.city %>
<br>
<a href="/department/<%=department.id%>/edit" class="btn btn-sm btn-success">Edit</a>   
<a href="/department" class="btn btn-sm btn-danger">Back</a>
